

<input type="checkbox" id="card{{btn}}" class="card__input" aria-hidden="true">
<div class="card__content">
    <div class="card__image" style="background-image: url({{image}})">
        <div class="card__front">
            <h3 class="card__heading">
                {{heading}} 
            </h3>
            <label for="card{{btn}}" class="card__button" style="background-image: url(/img/iconos/ir.png);" aria-hidden="true">
            </label>
        </div>
    </div>
    <div class="card__back">
        <div class="card__back-inner">
            <div class="card__back-description">
                <p>
                    {{description}}
                </p>
            </div>
            <div class="card__back-price">
                ${{price}}
            </div>
            <label for="card{{btn}}" class="card__back-button" style="background-image: url(/img/iconos/retorno.png);" aria-hidden="true">
            </label>
        </div>
    </div>
</div>